# Pre-compiled Binaries
*.exe
*.dll
*.so
*.dylib

# MSVC generated build files
*.ilk
*.pdb
*.obj
*.iobj
*.ipdb
*.log
*.tlog

# Precompiled header files
*.pch

# Visual Studio hidden directories & cache
.vs/
x64/
x86/
Debug/
Release/
ARM/
ARM64/
out/
.vscode/

# Third-party dependencies
THIRD_PARTY/*

# Allow tracking of redistributable third-party dependencies
!THIRD_PARTY/include/
!THIRD_PARTY/include/glaze/
!THIRD_PARTY/include/glaze/**

# CMAKE build files
build/